<%= simple_form_for(@offer_photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :offer_id %>
    <%= f.input :photo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
