<h1>Listing offer_photos</h1>

<table>
  <thead>
    <tr>
      <th>Offer</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offer_photos.each do |offer_photo| %>
      <tr>
        <td><%= offer_photo.offer_id %></td>
        <td><%= offer_photo.photo %></td>
        <td><%= link_to 'Show', offer_photo %></td>
        <td><%= link_to 'Edit', edit_offer_photo_path(offer_photo) %></td>
        <td><%= link_to 'Destroy', offer_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer photo', new_offer_photo_path %>
