<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @offer_photo.offer_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @offer_photo.photo %>
</p>

<%= link_to 'Edit', edit_offer_photo_path(@offer_photo) %> |
<%= link_to 'Back', offer_photos_path %>
