<%= simple_form_for(Auction.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :bid %>
    <%= f.input :user_id, as: :hidden, input_html:{ value: current_user.id }%>
    <%= f.input :offer_id, as: :hidden, input_html:{ value: @offer.id }if @offer%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Bid!" %>
  </div>
<% end %>
