<p id="notice"><%= notice %></p>

<p>
  <strong>Bid:</strong>
  <%= @auction.bid %>
</p>

<p>
  <strong>User:</strong>
  <%= @auction.user %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @auction.offer %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
