<div class='pytania'>
<div class='tlo'>
<%= image_tag('/images/image.png').html_safe %>
</div>

<div id='linki'>
<ul class="tab">
		<li><a href='index.html.erb' class="active"><span>Events</span></a></li>
		<li><a href="index2.html.erb"><span>Offers</span></a></li>
	</ul>
	</div>
	<div class='tabele1'>
<table>


  <tbody>
    <% @events.each do |event| %>
      <tr>
      <td>
        <% if event.photos %>
          <% event.photos.each do |p| %>
            <%= image_tag p.photo_url, :width => 80 %>
            <% break %>
          <% end %>
        <% end %>
      </td>
        <td><p id='t'><%= event.title %></p>
        <p id='data'><%= event.start_date %>
        <%= event.start_time %>
        <%= event.end_time %>
        <%= event.location %>
        <%= event.city %></p>
        <p id='g'><%= event.description %></p>
        <div id='button-list'>
          <p><%= link_to "go to the event page".html_safe, event %>
          </p>
        </div>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

