<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
</head>
<div style="float:right;">
  <%= form_tag events_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
<% end %></div>

<div class='head'>
<h1>Listing events</h1>
</div>
<div class='tabele'>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th style="width: 30%">Description</th>
      <th>Picture</th>
      <th>Start date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Location</th>
      <th>City</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td>
        <% if event.photos %>
          <% event.photos.each do |p| %>
            <%= image_tag p.photo_url, :width => 80 %>
            <% break %>
          <% end %>
        <% end %>

        </td>
        <td><%= event.start_date %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.location %></td>
        <td><%= event.city %></td>
        <td><%= link_to "<button>Show</button>".html_safe, event, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
       </td>
        <td><%= link_to "<button>Edit</button>".html_safe, (edit_event_path(event) if event.user_id == current_user.id), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
       </td>
       <td><%= link_to "<button>Destroy</button>".html_safe, event, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip", method: :delete, data: { confirm: 'Are you sure?' } if event.user_id == current_user.id %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<div id="map" style="width: 500px; height: 400px; text-align: center;
    margin: 0 auto 0 auto; border: groove;"></div>

  <script type="text/javascript">

  geocoder = new google.maps.Geocoder();
  var locations = [];
  <% @events.each do |event| %>
    var address = '<%= event.city  %>' + '<%= event.location %>';
    locations.push['<%= event.description %>',   geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            title: '<%= event.description %>',
            label: 'label',
            content: 'content'
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    }), 'Informacja']

 

  <% end %>


  function attachSecretMessage(marker, num) {
  var message = ['This', 'is', 'the', 'secret', 'message'];
  var infowindow = new google.maps.InfoWindow({
    content: message[num]
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(marker.get('map'), marker);
  });
}

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: new google.maps.LatLng(-34.397, 150.644),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;


/*
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        title: 'tekst'

      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('locations[i][0]');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }*/
  </script>