<div style="float:right;">
  <%= form_tag offers_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
<% end %></div>
<h1>Listing offers</h1>

<style>
    td, th {
        padding: 10px;
    }
</style>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th><%= sortable "cost","cost" %></th>
      <th>Picture</th>
      <th><%= sortable "start_date" %></th>
      <th><%= sortable "end_date" %></th>
      <th>Area</th>
      <th><%= sortable "Rooms" %></th>
      <th><%= sortable "localization" %></th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td class="price"><%= number_to_currency(offer.cost) %></td>
        <td><%= offer.picture %></td>
        <td><%= offer.start_date %></td>
        <td><%= offer.end_date %></td>
        <td><%= offer.area %></td>
        <td><%= offer.rooms %></td>
        <td><%= offer.localization %></td>
        <td><%= offer.description %></td>
        <td><%= link_to "<button>Show</button>".html_safe, offer, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %></td>
        <td><%= link_to "<button>Edit</button>".html_safe, (edit_offer_path(offer) if offer.user_id == current_user.id), :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %></td>
        <td><%= link_to "<button>Destroy</button>".html_safe, offer, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip",method: :delete, data: { confirm: 'Are you sure?' } if offer.user_id == current_user.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


