/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}

#pytania{ 
  height:680px;
  background: url('image/lol.png') no-repeat 25px 80px;
  }

.tlo{
  margin-top: 50px;
  img{
    margin: 0 auto;
  }
}
 body{
  background: #EEEEEE;
 }

#txt {
  width: 60%;
  float: right;
  margin: auto;
  margin-top: 20px;
  div{
    margin: auto; 
    width: 80%;
  }
}

#z {
  float: left;
  width: 40%;
  img{
    margin-left: 50px;
  }
}

button, input {
  color: #000000;
}

.head{
  font-family: Roboto;
  text-align: center;
 	margin: 0px auto 0 auto;
 	padding: 30px; 
  color: #21a392;
  font-size: 35px;    	
}

.event_view{
  margin-botom: auto;
  margin: 20px auto 0px 100px;
  background: #FFFFFF;
  position: relative; left: 15px;

  element.style{
    margin: 50px auto;
  }

  
  #descript {
    p{
      line-height: 27px; 
      color: #000000;
    }
    clear: both;
    padding-top: 50px;
  }

  #like{
    #a{
      margin-left: 50px;
      margin-bottom: 10px;
    }

    a{
      margon-top: 5px;
    }
    p{
      color: #000000;
      margin: 0px;
    }
    overflow: auto;
    margin-top: 10px;
    float: right;
    width: 25%;
    div{
      margin: auto; 
      
  }
  }

  #comment{
    margin-top: 80px;
  }

  #photo{
    overflow: auto;
    margin-top: 40px;
   

  }

  #button{
    margin-top: 20px;
    clear: both;
    overflow: auto;
  }

  img {
    float: left;
    margin-left: 0px;
    padding-right: 10px;
    }

  p{
    line-height: 20px;
    font-family: 'Roboto';
    color: #708090;
    font-size: 18px;
    margin: 0 50px 10px;
  } 



  #title{
    color: #21a392;
    font-size: 35px;
  }
	
}
 .logo{

    padding: 7px;
 }

.navbar{
	min-height: 100px;
}

.navbar-nav{
	font-size: 14px;
	float: right;
  #registration{
    font-size: 16px;
    padding-top: 25px;
  }
}

#cos {
    float: right;
    width: 24%;
    a{position: relative;}
    margin-top: 100px;
    padding-top: 50px;
    overflow: auto;
    padding-bottom: auto;

  
  #b{
    margin-top: 50px;
    margin-bottom: 40px;
    top:135px;
    left:50px;
  }
  #c{
    top:130px;
    left:50px;}
   
  }
     .tabele{
  table {
    display: table;
    font: 90%/1.5em Roboto, "Lucida Grande", Geneva,
                    "DejaVu Sans", "Bitstream Vera Sans", AnjaliOldLipi,
                    "Lucida sans", "Trebuchet MS", Arial, Verdana;
    text-align: center;
    border: 4px black double;
    border-spacing: 0;
    -moz-border-radius: 6px;
    -moz-box-shadow: #6a3d37 5px 5px 0px;
    -webkit-border-radius: 12px;
    -webkit-box-shadow: #6a3d37 5px 5px 6px;
    border-radius: 6px;
    box-shadow: #6a3d37 5px 5px 6px;
    background: #1b897b;
}

td, th {
        padding: 8px;
        text-align: center;
       margin: 10px auto 0 auto;
       color: #202020;
    }

th {
    color: #fff;
    font-size: 90%;
    text-shadow: #6a3d37 2px 2px 2px
}

    th:first-of-type {
        font-weight: bold;
        font-style: italic
    }

tbody tr:nth-child(odd) {
    color: #e0d8cb;
    background: #474644
}

tbody tr:nth-child(even) {
    color: #6a3d37
}

th:first-of-type,
td:first-of-type {
    padding: 0 0 0 4em
}

th:last-of-type,
td:last-of-type {
    padding: 0 4em 0 0
}

tbody tr:nth-last-child(-n+2) {
    opacity: .75
}


}


#zakladki {
  margin-top: 50px;
  ul{

  }
    
  li{
    display: inline;
    margin:20px 20px 0px 25px;
    padding-top: 20px;
  }
}
.pytania{ 
  .tabele1 {

    #button-list{
    margin-top: 20px;
    float: right;
    }
    p{
      margin-bottom: 0px;
      line-height: 25px;


    }
    #g{
        font-famyl: "DejaVu Sans";
        color:  #000000;
        line-height: 17px;
      }
    
  #t{
    font-famyl: "Roboto";
    font-size: 27px;
    color: #21a392;
  }
  #data{
    color: #8D8D8D;
  }
  table {
    display: table;
    font: 90%/1.5em Roboto, "Lucida Grande", Geneva,
                    "DejaVu Sans", "Bitstream Vera Sans", AnjaliOldLipi,
                    "Lucida sans", "Trebuchet MS", Arial, Verdana;
    text-align: left;
    border: 0px black double;
    border-spacing: 0;
    -moz-border-radius: 6px;
    background: #FFFFFF;
    

}

td, th {
        padding: 8px;
        text-align: left;
       margin: 10px auto 0 auto;
      
    }

th {
    
    font-size: 90%;
    }

th:first-of-type,
td:first-of-type {
    padding: 0 2em 0 4em
}

th:last-of-type,
td:last-of-type {
    padding: 2em 4em 0 0
}

}

ul.tab {
  margin-top: 100px;
  margin: 5px;
  padding: 22px;
  border-bottom: 0px solid #040404;
  height: 20px;
  /* Szerokość zwiekszona o 2 px wzgl. DIV'a - szerokosc DIV'a + 2px obramowania */
  width: 502px;
}

ul.tab li {

  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;

}

/* Ogólny wygląd zakładki */
ul.tab li a {

  display: block;
  padding: 3px;
  background: #d3d3d3;
  border: 1px solid #d3d3d3;
  border-bottom: 0px;
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  width: 160px;
  hight: 60px;

}

/* Wyglad nie aktywnej zakładki po najechaniu kursorem */
ul.tab li a:hover {
  border-color: red;
}

/* Wygląd aktywnej zakładki */
ul.tab li a.active:hover,
ul.tab li a.active {
  color: #040404;
  background: white;
  border: 1px solid black;
  border-bottom: 1px solid white;
}

 }
